 <div class="row">
    <div class="col">
    <h1 class="text-center mt-5 mb-5">
      <span class="material-symbols-outlined" style="font-size: 50px; vertical-align: middle;">coffee_maker</span>
      <span style="vertical-align: middle;">ようこそ<b>BeanBuzz</b>へ！</span>
    </h1>
    </div>
  </div>
  <div class="row mt-4 mb-4 ">
    <div class="col">
  <h3>このサイトでできること</h3>
    <ul>
      <li>コーヒーの世界へようこそ！：初めての方も気軽に交流し、コーヒーの楽しさを見つけよう。</li>
      <li>コーヒー愛好家とのつながり：他のコーヒー愛好家と繋がり、新しい友人やコミュニティを見つけよう。</li>
      <li>コーヒー体験の共有：自分のお気に入りのコーヒーショップやレシピを共有し、他のユーザーと新しい体験を分かち合おう。</li>
      <li>気に入った投稿への支持：投稿にいいねをつけることで、他のユーザーとの共感を示そう。</li>
      <li>コーヒーコミュニティの発展：コーヒー愛好家同士が交流し、新たな情報やアイデアを共有し、コーヒー文化を発展させよう。</li>
    </ul>
    
  </div>
  </div>